//VARIABLES

//font variables
$header-font: 'Martian Mono', Georgia, 'Times New Roman', Times, serif;
$body-font: Inter, Arial, sans-serif;

//color variables
$black: #062630;
$blue: #385159;
$dark-gray: #e6e1df;
$light-gray: #faf5f3;
$white: #fff;
$orange: #fea36f;
$light-orange: #ffe2d1;
$lightest-orange: #fff5ef;

//gradient-variables
$text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
$background-gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);

//button extension
%button{
    width: fit-content;
    max-width: 100%;
    height:fit-content;
    padding: 20px 24px;
    font-family: $header-font;
    font-size: 18px;
    text-transform: capitalize;
    background-color: $lightest-orange;
    border: $black solid 2px;
    border-radius:8px;
    display: inline-block;
}



* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
    color: $black;
}

h1,h2,h3,h4{
    font-family: $header-font;
    font-weight: 600;
}


p{
    font-family: $body-font;
    font-size: 20px;
}



header {
	min-height: 834px;
    padding: 32px 135px 80px;
	background-image: url("./assets/images/pattern-light-bg.svg");
	background-color: $lightest-orange;
    display: grid;
    grid-template-rows: 36px auto;
    row-gap: 80px;


	#hero {
        max-height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
        column-gap: 64px;

        
		img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
		}

		.text-box {
            height: 100%;

			h1 {
				font-size: 62px;
                color: transparent;
				background: $text-gradient;
				background-clip: text;
			}

            a{
                @extend %button;
            }
		}
	}
}
